<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--incomplete--->
	<meta name="description" content="#">
	<!--incomplete--->
	<meta name="keywords" content="#">


	<meta property="og:title" content="Family Chat">
	<!--incomplete--->
	<meta property="og:description" content="#">
	<!--incomplete--->
	<meta property="og:image" content="#">
	<!--incomplete--->
	<meta property="og:url" content="#">
	<meta property="og:type" content="website">

	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
		integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

	<title>Family Chat</title>
</head>

<body>
	<%- include('partials/nav'); %>
	<div class="social">
		<div id="feedCreate">
			<h1>New Post</h1>
			<div id="form-post">
				<input type="text" id="fp-title" name="postTitle" placeholder="Post Title" />
				<textarea id="fp-content" class="create-post-txt" wrap="hard" placeholder="Post Content"></textarea>
				<input type="file" id="fp-file" name="file" />
				<input type="submit" id="spost" class="create-post-btn" onsubmit="return false;" value="post" />
			</div>
		</div>
	</div>
	<main>
		</div>
		<div id="feedView">

			<% for(var data of items) { %>
			<div class="post" id="<%= data._id%>">
				<div class="content-section">
					<h1 id="postTitle<%= data._id%>"><%= data.content.title%></h1>
					<div class="post-author">
						<div class="post-pfp">
							<img src="/img/Profile%20Picture.png">
						</div>

						<div class="post-creation">
							<a class="post-name"> <%= data.fullname%></a>
							<a class="post-date"> <%= data.date%></a>
						</div>
					</div>

					<div class="post-body">
						<p id="postContent<%= data._id%>"><%= data.content.post%></p>
						<%if(data.filepath.length !== 0){ %>
						<img src="<%= data.filepath%>" />
						<% } %>
					</div>

					<div class="post-tools">
						<button><i class="far fa-thumbs-up"></i> <%= data.upvote%></button>
						<button><i class="far fa-thumbs-down"></i> <%= data.downvote%></button>
						<!-- If post is an image, render button -->
						<button onclick="saveImage()"><i class="fas fa-file-download"></i></button>
						<button><i class="fas fa-share"></i></button>
					</div>
				</div>
				<div class="comment-section">
					<div class="comment-history" id="comment-history<%= data._id%>">
						<% for(var data2 of data.comments) { %>
						<div>
							<p>
								<%= data2.comment%>
							</p>

							<div class="post-author">
								<div class="post-creation">
									<button><i class="far fa-thumbs-up"></i> </button>
									<button><i class="far fa-thumbs-down"></i> </button>
									<h5 class="post-name"><%= data2.fullname%></h5>
									<h5 class="post-date"><%= data2.date%></h5>
								</div>
							</div>
						</div>
						<% } %>

					</div>
					<div class="post-comments">
						<textarea id="pc-comment<%= data._id%>" class="comment" wrap="hard"
							placeholder="Add a comment..."></textarea>
						<input class="scomment" id="c<%= data._id%>" type="submit" value="comment" />
					</div>
				</div>
			</div>
			<% } %>
		</div>
		</div>
	</main>
	<script src="/js/index.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/siofu/client.js"></script>
	<script>
		var socket = io.connect();
	</script>
	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function () {

			// Initialize instances:
			var socket = io.connect();
			var siofu = new SocketIOFileUpload(socket);

			// Configure the three ways that SocketIOFileUpload can read files:
			siofu.listenOnInput(document.getElementById("fp-file"));
			// siofu.listenOnSubmit(document.getElementById('spost'), document.getElementById('fp-file'));
			// Do something on upload progress:
			siofu.addEventListener("progress", function (event) {
				var percent = event.bytesLoaded / event.file.size * 100;
				console.log("File is", percent.toFixed(2), "percent loaded");
			});

			// Do something when a file is uploaded:
			siofu.addEventListener("complete", function (event) {
				console.log(event.success);
				console.log(event.file);
			});

		}, false);
	</script>
</body>

</html>