<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--incomplete--->
    <meta name="description" content="#">
    <!--incomplete--->
    <meta name="keywords" content="#">


    <meta property="og:title" content="Family Chat">
    <!--incomplete--->
    <meta property="og:description" content="#">
    <!--incomplete--->
    <meta property="og:image" content="#">
    <!--incomplete--->
    <meta property="og:url" content="#">
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <title>Family Chat</title>
</head>

<body>
    <%- include('partials/nav'); %>
    <main>
        <div class="profile">
            <div class="profile-header">
                <div class="profile-pfp">
                    <img src="/img/Profile%20Picture.png" alt="profile-picture">
                </div>
                <div class="profile-info">
                    <div class="profile-name">
                        <h3><%=target.FirstName %> <%=target.LastName %></h3>


                        <% if(target.Username === user.Username){ %>
                        <button class="follow-button">Edit Profile</button>
                        <%} else if(target.Followers.includes(user._id)){ %>
                        <button id="<%= target._id%>" class="follow-button">Unfollow</button>
                        <%} else {%>
                        <button id="<%= target._id%>" class="follow-button">Follow</button>
                        <% } if(target.FamilyID.length !== 0 ){ %>
                        <button class="family-button" onclick="location.href='<%=target.FamilyID %>'">View
                            Family</button>
                        <%} %>
                    </div>
                    <div class="profile-stats">
                        <div class="stories">
                            <h3><%=posts.length %></h3>
                            <h4>Posts</h4>
                        </div>
                        <div class="followers">
                            <h3><%=target.Followers.length %></h3>
                            <h4>Followers</h4>
                        </div>
                        <div class="following">
                            <h3><%=target.Following.length %></h3>
                            <h4>Following</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <% if(target.Followers.includes(user._id) || target.Username === user.Username){ %>
        <div id="feedView">
            <% for(var data of posts) { %>
            <div class="post" id="<%= data._id%>">
                <div class="content-section" style="height: fit-content;">
                    <h1 id="postTitle<%= data._id%>"><%= data.content.title%></h1>
                    <div class="post-author">
                        <div class="post-pfp">
                            <img src="/img/Profile%20Picture.png">
                        </div>

                        <div class="post-creation">
                            <a class="post-name"> <%= data.fullname%></a>
                            <a class="post-date"> <%= data.date%></a>
                        </div>
                    </div>

                    <div class="post-body">
                        <p id="postContent<%= data._id%>"><%= data.content.post%></p>

                        <%if(data.filepath.length !== 0){ %>
                        <img src="<%= data.filepath%>" />
                        <% } %>
                    </div>
                </div>
                <div class="comment-section" style="height: 230px;">
                    <div class="comment-history" id="comment-history<%= data._id%>">
                        <% for(var data2 of data.comments) { %>
                        <div>
                            <p>
                                <%= data2.comment%>
                            </p>

                            <div class="post-author">
                                <div class="post-creation">
                                    <h5 class="post-name"><%= data2.fullname%></h5>
                                    <h5 class="post-date"><%= data2.date%></h5>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <% } %>
            <% } else {%>
            <div>
                <p>Follow to see posts.</p>
            </div>
            <% } %>
    </main>
    <script src="/js/profile.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>

</html>